
p{
	font-family: 'McLaren', cursive;
}
.blue{
	color: lightblue;
}
.border{
	border-left: 4px solid grey;
	padding-left: 5px;
}
#bottomborder{
	border-top: 0.5px solid lightgrey;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
  border: 2px solid black;
  border-radius: 20px;
}

.page-footer{
	background-color: black;
	color: white;
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	margin-top: 100px;
}