body{
  background: #2b2d30; 
  color: #ffffff;
}
p{
    font-family: 'McLaren', cursive;
}

th{
  color: #ffffff;
}

td{
  color: #ffffff;
}

#theme{
    color: #57d43f;
}

.blue{
    color: lightblue;
}
.border{
    border-left: 4px solid grey;
    padding-left: 5px;
}
#bottomborder{
    border-top: 0.5px solid lightgrey;
}

.btn-primary{
  background: #57d43f;
  border-color: #57d43f;
}

.btn-outline-primary{
  background: #57d43f;

}

.nav-link{
  color: #57d43f;
}
.navbar-custom { 
            background-color: #000000; 
        } 
          
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text
 { 
         color: #ffffff; 
 }


 /* Placing and arranging entire footer */
footer{
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 13rem; 
    width: 100%;
<<<<<<< HEAD:public/css/footer.css
    background-color: #343a40;
=======
    background-color: #000000;
>>>>>>> upstream/master:public/css/styledark.css
    color: white;    
    padding-top: 2.5rem;    
    margin-top: 4rem;
    text-align: center;
    position: scroll;
    left: 0;
    bottom: 0;  
} 

/* Designing Social Links */
.container .social-list li{
    list-style-type: none;
    display: inline;
    font-weight: bolder;
    border-radius: 100%;
    border: 1px solid white;
    margin: 0.5rem;
    padding: 0.8rem;  
    color: #ffffff;

}

.container .social-list li:hover{
    border: 1px solid: #57d43f ;
    background: #57d43f ;
}

.container .social-list{
    text-align: center;
    padding:0;
}

a i{
    font-weight: bolder;
    color: white;    
    height: 6rem;
    margin-top: 2.5rem;    
}

.fa{
    color: white;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size:1.4rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1.2rem;
    height: 3.4rem;
} 

.fa:hover{
    color:#3ba5ec;
}

.container h3{
    text-transform: uppercase;
    margin-top: 0.5rem;
    font-size: 1.6rem;
    letter-spacing: 2px;
}