
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar .nav-link{
    margin-left: 20px;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url("../images/contact.jpg");
}

.contact .content 
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
   font-size: 36px;
   font-weight: 500;
   color: black;
}
.contact .content p
{
    font-weight: 300;
    color:#186dec;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 1.2rem;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .contactInfo 
{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.container .contactInfo .box
{
    position: relative;
    margin-left: 20px;
    padding: 20px 30px;
    display: flex;

}

.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #186dec;
}
.contactForm{
    width: 40%;
    padding: 40px;
    
}
.contactForm h2{
    font-size: 30px;
    text-transform: uppercase;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    
    
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
     width: 100%;
     padding: 5px 0;
     font-size: 16px;
     margin: 10px 0;
     border: none;
     border-bottom: 2px solid #333;
     outline: none;
     resize: none;
     background-color: rgb(235, 235, 235);
    
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    text-transform: capitalize;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background:#186dec;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}
footer{
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 8.5rem; 
    width: 100%;
    background-color: #343a40;
    color: white;    
    padding-top: 2rem;     
    text-align: center;
    position: scroll;
    left: 0;
    bottom: 0;  
} 

/* Designing Social Links */
.container .social-list li{
    list-style-type: none;
    display: inline;
    font-weight: bolder;
    border-radius: 100%;
    border: 1px solid white;
    margin: 0.5rem;
    padding: 0.8rem;   
}

.container .social-list li:hover{
    border: 1px solid #3ba5ec;
}

.container .social-list{
    text-align: center;
    padding:0;
}

.container .social-list a i{
    font-weight: bolder;
    color: white;    
    height: 6rem;
    margin-top: 2rem;    
}

.container .social-list .fa{
    color: white;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size:1.4rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1.2rem;
    height: 3rem;
} 

.container .social-list .fa:hover{
    color:#3ba5ec;
}

/* Animations*/
@keyframes hvr-buzz-out {
    10% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      -webkit-transform: translateX(2px) rotate(1deg);
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      -webkit-transform: translateX(-2px) rotate(-1deg);
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      -webkit-transform: translateX(1px) rotate(0);
      transform: translateX(1px) rotate(0);
    }
    100% {
      -webkit-transform: translateX(-1px) rotate(0);
      transform: translateX(-1px) rotate(0);
    }
  }
  .hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz-out:hover,
  .hvr-buzz-out:focus,
  .hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #186dec;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before,
  .hvr-underline-from-left:focus:before,
  .hvr-underline-from-left:active:before {
    right: 0;
  }
